{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Game Board{% endblock %}</h1>
{% endblock %}

{% block content %}
<div style="float:left;">
	<h1>Tizio Caio</h1>
	<table style="border-collapse: collapse;">
		<tr><td>Sanity</td><td>1</td><td>do</td></tr>
		<tr><td>Stamina</td><td>1</td><td>do</td></tr>
		<tr><td>Focus</td><td>1</td><td>do</td></tr>
	</table>
	<table style="border-collapse: collapse;">
		<tr><td>Speed</td><td>1</td><td rowspan="2">do</td></tr>
		<tr><td>Sneak</td><td>5</td></tr>
		<tr><td>Fight</td><td>1</td><td rowspan="2">do</td></tr>
		<tr><td>Will</td><td>5</td></tr>
		<tr><td>Luck</td><td>1</td><td rowspan="2">do</td></tr>
		<tr><td>Lore</td><td>5</td></tr>
	</table>
	<ul>
		<li>Current location</li>
		<li>Current status</li>
	</ul>
	<table style="border-collapse: collapse;">
		<tr><td>Object 1</td><td>use</td></tr>
		<tr><td>Object 2</td><td>use</td></tr>
		<tr><td>Object 3</td><td>use</td></tr>
	</table>
</div>
<div style="float:right;">
	<div>
		<h1>Luoghi</h1>
		<div>
			<h2>Arkham</h2>
			<ul>
				{% for location in locations %}
				{% if not location["outer_world"] %}
					{% if not location["district"] %}
					<li class="street">{{location["name"]}}</li>
					{% else %}
					<li>{{location["name"]}}</li>
					{% endif %}
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div>
			<h2>Mondi Esterni</h2>
			<ul>
				{% for location in locations %}
				{% if location["outer_world"] %}
				<li>
					{{location["name"]}}
					<ul>
						<li>Fase 1</li>
						<li>Fase 2</li>
					</ul>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div>
		<h1>Mostri</h1>
		<span>Qui confronti i mostri attivi con il personaggio attivo e vedi come te la cavi</span>
	</div>
</div>
{% endblock %}
