{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Game Board{% endblock %}</h1>
{% endblock %}

{% block content %}
<div style="float:left;">
	{% if g.player %}
	<h1>{{g.player["investigator"]["name"]}}</h1>
	<table style="border-collapse: collapse;">
		<tr>
			<td>Sanity</td>
			<td>{{g.player['sanity']}}</td>
			<td><input id="set_sanity" type="range" min="0" max="{{g.player['investigator']['sanity']}}" value="{{g.player['sanity']}}"></td>
		</tr>
		<tr>
			<td>Stamina</td>
			<td>{{g.player['stamina']}}</td>
			<td><input id="set_stamina" type="range" min="0" max="{{g.player['investigator']['stamina']}}" value="{{g.player['stamina']}}"></td>
		</tr>
		<tr>
			<td>Focus</td>
			<td>{{g.player["focus"]}}</td>
		</tr>
	</table>
	<table style="border-collapse: collapse;">
		<tr>
			<td>Speed</td>
			<td>{{g.player['speed']}}</td>
			<td><input id="set_speed" type="range" min="{{g.player['investigator']['speed_min']}}" max="{{g.player['investigator']['speed_max']}}" value="{{g.player['speed']}}"></td>
		</tr>
		<tr>
			<td>Sneak</td>
			<td>
			<td>{{g.player['sneak']}}</td>
			<td><input id="set_sneak" type="range" min="{{g.player['investigator']['sneak_min']}}" max="{{g.player['investigator']['sneak_max']}}" value="{{g.player['sneak']}}"></td>
		</tr>
		<tr>
			<td>Fight</td>
			<td>{{g.player['fight']}}</td>
			<td><input id="set_fight" type="range" min="{{g.player['investigator']['fight_min']}}" max="{{g.player['investigator']['fight_max']}}" value="{{g.player['fight']}}"></td>
		</tr>
		<tr>
			<td>Will</td>
			<td>{{g.player['will']}}</td>
			<td><input id="set_will" type="range" min="{{g.player['investigator']['will_min']}}" max="{{g.player['investigator']['will_max']}}" value="{{g.player['will']}}"></td>
		</tr>
		<tr>
			<td>Lore</td>
			<td>{{g.player['lore']}}</td>
			<td><input id="set_lore" type="range" min="{{g.player['investigator']['lore_min']}}" max="{{g.player['investigator']['lore_max']}}" value="{{g.player['lore']}}"></td>
		</tr>
		<tr>
			<td>Luck</td>
			<td>{{g.player['luck']}}</td>
			<td><input id="set_luck" type="range" min="{{g.player['investigator']['luck_min']}}" max="{{g.player['investigator']['luck_max']}}" value="{{g.player['luck']}}"></td>
		</tr>
	</table>
	<ul>
		<li>{{g.player["location"]["name"]}}</li>
		<li>
			{% if not g.player["lost"] and not g.player["blocked"] %}Normal
			{% else %}
			{% if g.player["lost"] %}Lost in time and space{% endif %}
			{% if g.player["blocked"] %}Blocked{% endif %}
			{% endif %}
		</li>
	</ul>
	<table style="border-collapse: collapse;">
		<tr>
			<td>Object 1</td>
			<td>use</td>
		</tr>
		<tr>
			<td>Object 2</td>
			<td>use</td>
		</tr>
		<tr>
			<td>Object 3</td>
			<td>use</td>
		</tr>
	</table>
	{% endif %}
</div>
<div style="float:right;">
	<div>
		<h1>Luoghi</h1>
		<div>
			<h2>Arkham</h2>
			<ul>
				{% for place in locations %}
				{% if not place["outer_world"] %}
					{% if not place["district"] %}
					<li class="street">{{place["name"]}}</li>
					{% else %}
					<li>{{place["name"]}}</li>
					{% endif %}
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div>
			<h2>Mondi Esterni</h2>
			<ul>
				{% for place in locations %}
				{% if place["outer_world"] %}
				<li>
					{{place["name"]}}
					<ul>
						<li>Fase 1</li>
						<li>Fase 2</li>
					</ul>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div>
		<h1>Mostri</h1>
		<span>Qui confronti i mostri attivi con il personaggio attivo e vedi come te la cavi</span>
	</div>
</div>
{% endblock %}
