<!doctype html>
<title>{% block title %}{% endblock %} - Arkham Horror Companion</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta charset="utf-8" />
<nav>
    {% if g.player %}
    <span><a href="{{ url_for('auth.logout') }}">Quit</a> {{ g.investigator_card['name'] }} ({{ g.player['name'] }})</span>
    {% else %}
    <a href="{{ url_for('auth.login') }}">Join</a>
    {% endif %}
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <div style="width: 100%;"></div>
    {% block content %}{% endblock %}
    </div>
    <div style="clear:both"></div>
</section>