.street {
    font-weight: bold;
}
.stat {
    font-weight: bold;
}
.stamina {
    color: red;
}
.sanity {
    color: blue;
}
.skill .top {
    color: red;
}
.skill .bottom {
    color: blue;
}
nav {
    overflow: hidden;
}