.street {
    font-weight: bold;
}
.stat {
    font-weight: bold;
}
.stamina {
    color: red;
}
.sanity {
    color: blue;
}
.fatal {
    color: red;
}
.deadly {
    color: gold;
}
nav {
    overflow: hidden;
}

#boxes {
    content:"";
    display: table;
    clear: both;
}
#column1 {
    float: left;
    width: 40%;
}
#column2 {
    float: left;
    width: 60%;
}